<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="take.a.talent.member.service.MemberMapper">

	<!-- 폼에서 입력한 id를 where절에 넣고 DB에 있는 해당 id, pw, 권한을 가져오는 쿼리이다 resultType은 map이다 -->
	<select id="selectMemberTest" resultType="map">
		SELECT 
		m.member_id as member_id
		,m.member_password as member_pw
		,ma.member_authority_name as authority
		FROM member m
		INNER JOIN member_authority ma
		ON m.member_authority_no = ma.member_authority_no
		WHERE m.member_id = #{username};
	</select>
	
	<insert id="insertMember" parameterType="take.a.talent.member.vo.MemberVo">
		INSERT INTO member(member_id, member_password, member_name, member_phone)
			VALUES (#{memberId}, #{memberPassword}, #{memberName}, #{memberPhone});
			
	</insert>
	
	<select id ="selectMember" parameterType="string" resultType="int">
		SELECT member_no
		FROM testmember
		WHERE member_id=#{member_id}
	</select> 
	
	 <insert id="insetAddress" parameterType="take.a.talent.member.vo.MemberVo">
		INSERT INTO test
		
	</insert>
	
	
	
	

	 <resultMap
		type="take.a.talent.member.vo.MemberVo" id="MemberVo"> 
		
		<result property="memberId" column="member_id" />
		<result property="memberPassword" column="member_password" />
		<result property="memberName" column="member_name" />
		<result property="memberGender" column="member_gender" />
		<result property="memberAge" column="member_age" />
		<result property="memberPhone" column="member_phone" />
		<result property="memberSocial_number" column="member_social_number" />
		<result property="memberNickname" column="member_nickname" />
		<result property="memberPoint" column="member_point" />
		<result property="memberAuthority_no" column="member_authority_no" />
		<result property="memberEmail" column="member_email" />
		<result property="memberAgreement" column="member_agreement" />
		<result property="memberSns" column="member_sns" />
		<result property="memberStudentExp" column="member_student_exp" />
		<result property="memberStudentLevel" column="member_student_level" />
		<result property="memberTotalClassApplicationDate" column="member_total_class_application_date" />
		<result property="memberStudentComplimentCard" column="member_student_compliment_card" />
		<result property="memberLoginState" column="member_login_state" />
		<result property="memberAddress" column="member_address" />
		<result property="memberMemo" column="member_memo" />
		
		
	</resultMap>

</mapper>
  